@import '../styles/mixin';
@import '../styles/reset';
@import '../styles/values';
@import '../styles/header';
@import '../styles/recommended';
@import '../styles/product';
@import '../styles/content';
@import '../styles/about';
@import '../styles/contacts';

body {
  font-family: 'Space Mono', monospace;
  color: $mainColor;
  line-height: 1;
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.wrapper > main {
  flex-grow: 1;
}

[class*='__container'] {
  max-width: 1092px;
  margin: 0 auto;
  padding-inline: 20px;
}

.title {
  @include title;
}
