@mixin title-margin-bottom() {
  margin-bottom: 56px;

  @media (max-width: 479.98px) {
    margin-bottom: 48px;
  }
}

@mixin padding-top-section() {
  padding-top: 120px;

  @media (max-width: 479.98px) {
    padding-top: 64px;
  }
}

@mixin title() {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 48px;
  font-weight: 700;

  @media (max-width: 479.98px) {
    font-size: 32px;
  }
}
