.products {
  @include padding-top-section;

  padding-bottom: 120px;

  @media (max-width: 479.98px) {
    padding-bottom: 96px;
  }

  &__container {
    display: grid;
    row-gap: 56px;

    @media (max-width: 479.98px) {
      row-gap: 48px;
    }
  }

  &__title {
    @media (min-width: 479.98px) {
      max-width: 585px;
    }
  }

  &__body {
    display: grid;
    row-gap: 56px;

    @media (max-width: 479.98px) {
      row-gap: 40px;
    }
  }

  &__photos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    @media (max-width: 479.98px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__photo {
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      transition: transform 0.3s ease 0s;

      &:hover {
        transform: scale(1.1);
      }
    }

    &_big {
      grid-column: span 8;
      padding-bottom: 48.21%;
    }

    &_small {
      grid-column: span 4;
      padding-bottom: 100%;
    }

    @media (max-width: 479.98px) {
      &_big {
        grid-column: span 2;
      }

      &_small {
        grid-column: span 2;
      }
    }
  }

  &__name {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
  }

  &__button-postion {
    width: 100%;

    @media (min-width: 744px) {
      max-width: 324px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    background-color: $mainColor;
    border: 2px solid $mainColor;
    color: rgba(255, 255, 255, 1);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    padding: 15px;
    transition: all 0.3s ease;

    &:hover {
      border: 2px solid rgba(240, 241, 244, 1);
      background-color: $bgColor;
      color: $mainColor;
    }
  }
}
