.recommended {
  @include padding-top-section;

  &__title {
    @include title-margin-bottom;
  }

  &__items {
    display: flex;
    margin-inline: -12px;
  }

  &__column {
    flex: 0 1 33.33%;
    padding-inline: 12px;
  }

  &__item {
    min-height: 100%;
  }

  @media (max-width: 744px) {
    &__items {
      flex-direction: column;
      margin-block: -28px;
    }

    &__column {
      flex: 1 1 auto;
      padding-block: 28px;
    }
  }

  @media (max-width: 479.98px) {
    &__title {
      @include title-margin-bottom;
    }

    &__items {
      flex-direction: column;
      margin-block: -24px;
    }

    &__column {
      flex: 1 1 auto;
      padding-block: 24px;
    }

    .recommended {
      padding-top: 64px;
    }
  }
}

.item-recommended {
  display: flex;
  flex-direction: column;

  &__image {
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      transition: transform 0.3s ease 0s;

      &:hover {
        transform: scale(1.1);
      }
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 auto;
  }

  &__name {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__text {
    line-height: 140%;
    flex: 1 1 auto;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__price {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    line-height: 140%;
  }
}
